<div class="bg-white text-black-1">
    <login *ngIf="globalState.getShowLoginOrSignupModal() === 'Login'"></login>
    <signup *ngIf="globalState.getShowLoginOrSignupModal() === 'Signup'"></signup>
    <div id="topNavBar" class="bg-blue-1 flex w-full fixed top-0 left-0 right-0 z-40 shadow-b-sm">
        <div class="flex max-w-8xl w-full mx-auto px-6 py-4 transition-all duration-500 ease-in-out"
            [ngClass]="{'bg-white border-white border-b-2': globalState.getTopNavMobileMenuFlag(), 'bg-blue-1': !globalState.getTopNavMobileMenuFlag()}">
            <div class="flex md:hidden items-center justify-center cursor-pointer"
                (click)="globalState.setTopNavMobileMenuFlag()">
                <div id="nav-icon" [ngClass]="{'open': globalState.getTopNavMobileMenuFlag()}">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="flex w-16 ml-5 md:ml-0 cursor-pointer items-center">
                <a href="/">
                    <img src="/assets/logos/logo.png" alt="">
                </a>
            </div>
            <div class="flex flex-grow"></div>
            <div (click)="globalState.changeRoute('/')"
                class="hidden md:flex items-center justify-center focus:outline-none focus:border-none focus:ring-0 mx-3 lg:mx-5 p-1 text-sm font-light cursor-pointer hover:underline transition-all duration-150 ease-in-out">
                Home</div>
            <div (click)="globalState.changeRoute('/pricing')"
                class="hidden md:flex items-center justify-center focus:outline-none focus:border-none focus:ring-0 mx-3 lg:mx-5 p-1 text-sm font-light cursor-pointer hover:underline transition-all duration-150 ease-in-out">
                Pricing</div>
            <div (click)="globalState.changeRoute('/products')"
                class="hidden md:flex items-center justify-center focus:outline-none focus:border-none focus:ring-0 mx-3 lg:mx-5 p-1 text-sm font-light cursor-pointer hover:underline transition-all duration-150 ease-in-out">
                Products</div>
            <div (click)="globalState.changeRoute('/contactus')"
                class="hidden md:flex items-center justify-center focus:outline-none focus:border-none focus:ring-0 mx-3 lg:mx-5 p-1 text-sm font-light cursor-pointer hover:underline transition-all duration-150 ease-in-out">
                Contact us</div>
            <div class="flex items-center justify-center ml-8 p-2">
                <button (click)="globalState.setShowLoginOrSignupModal('Login')"
                    class="bg-blue-2 px-10 py-2.5 rounded-3xl text-sm text-white font-bold hover:bg-blue-900 transition-all duration-150 ease-in-out focus:outline-none">LOG
                    IN</button>
            </div>
            <div (click)="globalState.setShowLoginOrSignupModal('Signup')"
                class="hidden md:flex items-center justify-center focus:outline-none focus:border-none focus:ring-0 p-1 text-sm font-light cursor-pointer hover:underline transition-all duration-150 ease-in-out">
                Sign Up</div>
        </div>
    </div>
    <div id="mobileTopNavBar"
        class="fixed top-24 right-0 left-0 overflow-hidden transition-all duration-500 ease-in-out shadow-md bg-white z-50 -m-1"
        [ngClass]="{'h-52 border-white border-b-2 visible opacity-100': globalState.getTopNavMobileMenuFlag(), 'h-0 opacity-0': !globalState.getTopNavMobileMenuFlag()}">
        <div class="p-5 border-white">
            <div
                class="transition-all duration-300 transform hover:translate-x-1 text-black-1 hover:text-blue-5 cursor-pointer">
                <a class="block p-3 text-sm font-bold "
                    (click)="globalState.setTopNavMobileMenuFlag(); globalState.changeRoute('/')">
                    Home
                </a>
            </div>
            <div
                class="transition-all duration-300 transform hover:translate-x-1 text-black-1 hover:text-blue-5 cursor-pointer">
                <a class="block p-3 text-sm font-bold "
                    (click)="globalState.setTopNavMobileMenuFlag(); globalState.changeRoute('/pricing')">
                    Pricing
                </a>
            </div>
            <div
                class="transition-all duration-300 transform hover:translate-x-1 text-black-1 hover:text-blue-5 cursor-pointer">
                <a class="block p-3 text-sm font-bold "
                    (click)="globalState.setTopNavMobileMenuFlag(); globalState.changeRoute('/products')">
                    Products
                </a>
            </div>
            <div
                class="transition-all duration-300 transform hover:translate-x-1 text-black-1 hover:text-blue-5 cursor-pointer">
                <a class="block p-3 text-sm font-bold "
                    (click)="globalState.setTopNavMobileMenuFlag(); globalState.changeRoute('/contactus')">
                    Contact Us
                </a>
            </div>
        </div>
    </div>
    <div class="pt-20 bg-blue-1">
        <router-outlet></router-outlet>
    </div>
    <div class="background-rounded py-10 md:py-20 lg:py-28 xl:py-40">
    </div>
    <div id="Footer" class="py-10 bg-blue-6 -mt-1 ">
        <div class="flex bg-blue-6 w-full">
            <div class="grid grid-cols-1 md:grid-cols-11 max-w-7xl w-full mx-auto px-4 2xl:-mt-20 3xl:-mt-40">
                <div
                    class="flex flex-col justify-start items-center md:items-baseline w-full mb-10 md:col-span-3 md:ml-14">
                    <img src="/assets/logos/logo.png" alt="">
                </div>
                <div
                    class="flex flex-col justify-start items-baseline max-w-xs md:col-span-2 mt-8 md:mt-0 ml-4 md:ml-0">
                    <div class="flex items-center mb-6">
                        <h1 class="text-gray-2 text-2xl text-left font-bold">MENU</h1>
                    </div>
                    <div class="flex items-center mb-7">
                        <h2 (click)="globalState.changeRoute('/')" class="text-white text-xl text-left cursor-pointer">
                            Home</h2>
                    </div>
                    <div class="flex items-center mb-7">
                        <h2 (click)="globalState.changeRoute('/pricing')"
                            class="text-white text-xl text-left cursor-pointer">Pricing</h2>
                    </div>
                    <div class="flex items-center mb-7">
                        <h2 (click)="globalState.changeRoute('/products')"
                            class="text-white text-xl text-left cursor-pointer">Products
                        </h2>
                    </div>
                    <div class="flex items-center">
                        <h2 (click)="globalState.changeRoute('/contactus')"
                            class="text-white text-xl text-left cursor-pointer">Contact Us
                        </h2>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-start items-baseline max-w-xs md:col-span-2 mt-8 md:mt-0 ml-4 md:ml-0">
                    <div class="flex items-center mb-6">
                        <h1 class="text-gray-2 text-2xl text-left font-bold">LINKS</h1>
                    </div>
                    <div class="flex items-center mb-7">
                        <h2 class="text-white text-xl text-left cursor-pointer">About us</h2>
                    </div>
                    <div class="flex items-center mb-7">
                        <h2 class="text-white text-xl text-left cursor-pointer">Copyrights</h2>
                    </div>
                    <div class="flex items-center mb-7">
                        <h2 class="text-white text-xl text-left cursor-pointer">Information</h2>
                    </div>
                    <div class="flex items-center">
                        <h2 class="text-white text-xl text-left cursor-pointer">Privacy Policy</h2>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-start items-baseline max-w-xs md:col-span-4 mt-8 md:mt-0 ml-4 md:ml-0">
                    <div class="flex items-center mb-6">
                        <h1 class="text-gray-2 text-2xl text-left font-bold md:w-full">CONTACT US</h1>
                    </div>
                    <div class="flex items-center mb-4">
                        <h2 class="text-white text-xl text-left">Do you want your company
                            advertised
                            here?</h2>
                    </div>
                    <div class="flex items-center md:items-baseline mb-4 md:w-full">
                        <h1 class="text-white text-2xl text-left">Contact</h1>
                    </div>
                    <div class="flex items-center mb-4 overflow-hidden">
                        <h2 class="text-white text-xl text-left">Steve Rosewell at <span
                                class="text-gray-2 cursor-pointer hover:text-blue-600">steve@makcorp.net.au </span>or on
                            <span class="text-gray-2 cursor-pointer hover:text-blue-600"> +61 (4)
                                0555 1055</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center md:justify-end items-center mx-auto max-w-7xl mt-10 md:mt-4">
            <div class="mx-3 cursor-pointer">
                <a href="https://www.facebook.com/groups/1712690915426176" target="_blank">
                    <svg class="text-blue-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="40px"
                        width="40px" viewBox="0 0 3333 3333" shape-rendering="geometricPrecision"
                        text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd"
                        clip-rule="evenodd">
                        <path
                            d="M1667 0c920 0 1667 746 1667 1667 0 920-746 1667-1667 1667C747 3334 0 2588 0 1667 0 747 746 0 1667 0zm186 1117h311V744h-311c-240 0-435 195-435 435v186h-249v373h249v994h373v-994h311l62-373h-373v-186c0-34 28-62 62-62z" />
                    </svg>
                </a>
            </div>
            <div class="mx-3 cursor-pointer">
                <a href="https://www.linkedin.com/company/makcorp/?viewAsMember=true" target="_blank">
                    <svg height="40px" width="40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333"
                        shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                        image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                        <path
                            d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm-18220 138885h28897v14814l418 1c4024-7220 13865-14814 28538-14814 30514-1 36157 18989 36157 43691v50320l-30136 1v-44607c0-10634-221-24322-15670-24322-15691 0-18096 11575-18096 23548v45382h-30109v-94013zm-20892-26114c0 8650-7020 15670-15670 15670s-15672-7020-15672-15670 7022-15670 15672-15670 15670 7020 15670 15670zm-31342 26114h31342v94013H96213v-94013z"
                            fill="#0077b5" />
                    </svg>
                </a>
            </div>
            <div class="mx-3 cursor-pointer">
                <a href="https://twitter.com/makcorppl" target="_blank">
                    <svg height="40px" width="40px" fill="currentColor" class="text-blue-500"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3333 3333" shape-rendering="geometricPrecision"
                        text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd"
                        clip-rule="evenodd">
                        <path
                            d="M1667 0c920 0 1667 746 1667 1667 0 920-746 1667-1667 1667C747 3334 0 2588 0 1667 0 747 746 0 1667 0zm900 1108c-66 30-137 49-212 58 76-46 135-118 162-204-71 42-151 73-234 90-68-72-163-116-270-116-204 0-369 165-369 369 0 29 3 57 9 84-307-16-579-162-761-386-33 56-50 120-50 186 0 128 65 241 164 307-61-2-117-19-167-46v5c0 179 127 328 296 362-31 8-64 13-97 13-24 0-47-2-70-7 47 147 183 253 345 257-127 99-285 158-459 158-30 0-59-2-88-5 164 105 358 166 566 166 679 0 1051-563 1051-1051 0-16 0-32-1-48 72-52 135-117 184-191z" />
                    </svg>
                </a>
            </div>
            <div class="md:mr-10 lg:mr-20"></div>
        </div>
    </div>
    <div id="Copyright" class="py-8 bg-blue-6">
        <div class="flex justify-center items-center">
            <h1 class="text-gray-1 text-sm font-semibold">Copyright &copy; 2021. All Rights Reserved.</h1>
        </div>
    </div>
</div>