.values-container {
    background-color: #1e2133;
    padding: 3rem 1rem;
    color: white;
}
  
.values-header {
    text-align: center;
    margin-bottom: 3rem;
}
  
.values-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
  
.value-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
    margin-bottom: 2rem;
}
  
.illustration-container {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

  
.illustration-container img {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    z-index: 1;
}
  
.content-container {
    flex: 0 0 45%;
    padding: 0 2rem;
}
  
.step-indicator {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #1e2133;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
.content-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.picture {
    width: 300px;
}
  

.illustration-container,
.content-container {
    flex: 1 1 100%;
    margin-bottom: 2rem;
}
